# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
pip-wheel-metadata/
*.egg-info/

# Byte-compiled / caches
*.pyc
*.pyo
*.pyd
*.sqlite3

# Jupyter
.ipynb_checkpoints/

# Environment / secrets
.env
instance/
config/*.secret

# Logs, OS, editors
*.log
.DS_Store
.vscode/

# Test / caches
.pytest_cache/

# Build / distribution
build/
dist/

# Uploads / datasets (optional - can keep if you want)
uploads/
uploads_test/